@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  min-width: 1160px;
  margin: 0;
  height: 100%;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #000000;
}
.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

/* шапка сайта */

.page-header {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
}

.page-navigation {
  background-color: #FFE17F;
  min-height: 300px;
}

.page-navigation-link-logo {
  margin-left: 60px;
  margin-bottom: 30px;
}

.page-navigation-logo {
  margin-top: -20px;
  margin-bottom: 30px;
}

.navigation-user-container {
  margin: 0 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-product-container {
  margin: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-navigation-item {
  min-width: 99px;
  margin-left: 26px;
}

.page-navigation-item-enter {
  flex-grow: 1;
}

.page-search-form {
  display: flex;
  width: 517px;
}

.input-search {
  padding-top: 10px;
  padding-left: 48px;
  padding-bottom: 10px;
  flex-grow: 1;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}

.page-search-form-button {
  padding: 10px 56px;
  max-width: 160px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-align: center;
}

.page-navigation-list-user {
  display: flex;
  flex-grow: 1;
}

.product-catalog-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.page-navigation-list {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  gap: 45px;
}

.page-submenu-list-close {
  display: none;
}

/* основное содержимое index */
/* секция слайдера */

.slider {
  max-width: 1160px;
  margin: 0 auto;
}

.slider-list {
  margin: 0;
  margin-top: -150px;
  padding: 0;
}

.slider-item{
  display: none;
}
.slider-item-current {
  display: flex;
  gap: 40px;
}

.slider-description-title {
  font-family: 'Raleway';
  font-size: 50px;
  line-height: 50px;
  margin-top: 121px;
  margin-bottom: 29px;
}

.button-slider {
  margin: 50px 340px 50px 0;
}

.slider-specifications-container {
  display: flex;
}

.specifications-container {
  display: flex;
  flex-direction: column;
}

/* секция каталога */

.catalog-categories {
  max-width: 1160px;
  margin: 0 auto;
}

.catalog-categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.catalog-categories-link {
  display: block;
  width: 160px;
  min-height: 253px;
  background-color: aqua;
}

/* секция услуг */

.services {
  background-color: #F0F0F0;
}

.services-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services-description-item {
  display: none;
}

.services-description-item-current {
  display: block;
}

.services-menu-item {

}

.services-menu-item-current {
  display: block;
}

/* секция заказа доставки */

.booking {
  max-width: 1160px;
  margin: 0 auto;
}

/* секция информации */

.information {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.information-title {
  font-family: 'Raleway';
  font-size: 50px;
  line-height: 50px;
}

.information-subtitle {
  font-size: 24px;
}

.about-us-list {
  font-weight: 700;
  line-height: 20px;
}

/* основное содержимое catalog */
/* секция заголовка каталога */

.inner-header {
  max-width: 1160px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  gap: 36px;
}

.background-container {
  background-color: #F0F0F0;
}

.position-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

/* секция фильтров */

.filter {
  padding: 0 60px;
}

.filter-products {
  width: 320px;
}

/* секция товаров каталога */

.content-catalog {
  width: 840px;
}

.background-cards-container {
  background-color: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.product-cards-container {

}

.product-content-container {
  display: flex;
  justify-content: space-between;
}

.sorting-container {
  display: flex;
  gap: 206px;

}

.product-cards {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  display: flex;
}

/* блок подписки */

.subscription {
  max-width: 1160px;
  margin: 0 auto;
}

/* подвал сайта */

.page-footer {
  background-color: #444444;
  display: flex;
  justify-content: space-between;
}

.left-container {
  margin-left: 140px;
  width: 239px;
}

.center-container {
  width: 444px;
}

.right-container {
  margin-right: 140px;
  width: 175px;
}

.page-footer-information {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.page-footer-list {
  font-family: 'Raleway';
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0;
}

.page-footer-link {
  color: inherit;
}

.contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
