@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  min-width: 1160px;
  margin: 0;
  height: 100%;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #000000;
}
.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: "Raleway";
  font-size: 20px;
  line-height: 23px;
  padding: 0;
}

.button-line {
  position: relative;
  padding: 10px 5px;
  letter-spacing: 0.2em;
}

.button-line::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 41%;
  bottom: 0%;
  height: 8px;
  background-color: #FFE17F;
  content: "";
  z-index: -1;
}

.button-line:hover {
  background: #FFE17F;
}

.button-line:focus-visible {
  outline: 2px solid #AF4FFF;
}

.button-line:active {
  background: #FFCC33;
}

/* шапка сайта */

.page-header {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
}

.page-navigation {
  background-color: #FFE17F;
  min-height: 300px;
}

.page-navigation-link {
  position: relative;
  padding: 5px;
  padding-left: 20px;
}

.page-navigation-link:hover {
  opacity: 0.6;
}

.page-navigation-link:active {
  opacity: 0.3;
}

.page-navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.services-link {
  padding-left: 5px;
}

.exit-button {
  padding: 0;
  margin: 0;
}

.compare-button::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 10px;
  height: 12px;
  background-image: url("/images/graphics/icon-compare-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.basket-button {
  padding-left: 42px;
}

.basket-button::before {
  position: absolute;
  content: "";
  top: 15%;
  left: 13px;
  width: 13px;
  height: 21px;
  background-image: url("/images/graphics/basket-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.basket-button::after {
  position: absolute;
  display: block;
  content: attr(data-counter);
  text-align: center;
  border-radius: 25px;
  height: 21px;
  width: 21px;
  top: 17%;
  left: -2px;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.login-button::before {
  position: absolute;
  content: "";
  top: 30%;
  left: -5px;
  width: 15px;
  height: 12px;
  background-image: url("/images/graphics/man-icon-login-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-navigation-link-logo {
  margin-left: 60px;
  transform: translateY(-20px);
  width: 145px;
  display: flex;
}

.page-navigation-link-logo:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.navigation-user-container {
  margin: 0 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-product-container {
  position: relative;
  margin: 0 60px 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.page-navigation-item {
  margin-left: 23px;
  position: relative;
}

.page-navigation-item-enter {
  flex-grow: 1;
  max-width: 150px;
}

.page-navigation-item-exit {
  width: 56px;
}

.page-search-form {
  display: flex;
  width: 517px;
}

.input-search {
  position: relative;
  padding-left: 46px;
  flex-grow: 1;
  width: 313px;
  min-height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
}

.input-search:focus {
  outline: none;
}

.input-search::placeholder{
  color: rgba(0, 0, 0, 0.3);
}

.page-search-label {
  position: relative;
}

.page-search-label:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.page-search-label::before {
  position: absolute;
  content: "";
  top: 35%;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url("/images/graphics/search-icon.svg");
}

.page-search-form-button {
  position: relative;
  padding: 10px 56px;
  margin-left: -2px;
  max-width: 160px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-align: center;
}

.page-search-form-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.page-search-form-button:focus-visible {
  outline: none;
}

.page-search-form-button:focus-visible::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.page-search-form-button:active {
  color: rgba(250, 250, 250, 0.3);
}

.page-navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.product-catalog-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.product-catalog-button {
  position: relative;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  padding: 16px 64px 17px 0;
  z-index: 3;
}

.product-catalog-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  opacity: 0.3;
  border-radius: 50%;
  background-image: url("/images/graphics/plus-catalog-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product-catalog-button:hover::before {
  opacity: 1;
}

.product-catalog-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.product-catalog-container:focus-within .product-catalog-button::before {
  background-image: url("/images/graphics/minus-catalog-button.svg");
}

.page-navigation-list {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  gap: 45px;
}

.product-catalog-container {
  position: relative;
}

.page-submenu-container {
  display: none;
  position: absolute;
  top: 35px;
  left: -60px;
  width: 1105px;
  padding: 33px 0 55px 55px;
  background-color: #FFE17F;
  z-index: 2;
}

.product-catalog-container:focus-within .page-submenu-container {
  position: absolute;
  display: flex;
  gap: 60px;
}

.submenu-item {
  margin: 0;
  margin-bottom: 10px;
}

.submenu-link {
  padding: 5px;
}

.active {
  position: relative;
}

.submenu-active {
  position: relative;
}

.active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.submenu-active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

/* основное содержимое index */
/* секция слайдера */

.slider {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 211px;
}

.slider-list {
  margin-top: -150px;
}

.slider-item{
  display: none;
}

.slider-item::before {
  position: absolute;
  content: "0" counters(section, "");
  counter-increment: section;
  top: 85px;
  right: 55px;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-item-current {
  display: flex;
  gap: 40px;
}

.slider-description-container {
 position: relative;
}

.slider-description-title {
  font-family: 'Raleway';
  font-size: 50px;
  line-height: 50px;
  margin-top: 121px;
  margin-bottom: 29px;
}

.button-detailed {
  margin: 50px 340px 50px 0;
  min-width: 220px;
}

.slider-button {
  width: 40px;
  height: 80px;
  border: none;
  background-color: transparent;
  background-image: url("/images/graphics/slider-switch-arrow-to-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -8px;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-prev {
  position: absolute;
  transform: rotate(180deg);
  top: 210px;
  left: 30px;
}

.slider-next {
  position: absolute;
  top: 210px;
  left: calc(50% - 50px);
}

.slider-specifications-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  gap: 20px;
}

.specifications-container {
  display: flex;
  flex-direction: column;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slider-pagination-button {
  position: relative;
  width: 12px;
  height: 12px;
  border: solid 2px #000000;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
}

.slider-pagination-button::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  width: 14px;
  height: 14px;
  border: solid 2px #AF4FFF;
  background-color: transparent;
  opacity: 0;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  outline: none;
}

.slider-pagination-button:focus-visible::before {
  opacity: 1;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #000000;
}

/* секция каталога */

.catalog-categories {
  max-width: 1160px;
  margin: 0 auto 172px;
}

.catalog-categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.catalog-categories-item {
  position: relative;
  width: 160px;
}

.catalog-categories-link {
  position: relative;
  font-family: "Raleway";
  line-height: 24px;
  display: block;
  width: 160px;
  padding-top: 193px;
}

.catalog-categories-link::before {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.catalog-categories-item:nth-child(1)
.catalog-categories-link::before {
  background-image: url("/images/catalog-button-virtual-reality.svg");
}

.catalog-categories-item:nth-child(2)
.catalog-categories-link::before {
  background-image: url("/images/catalog-button-monopods.svg");
}

.catalog-categories-item:nth-child(3)
.catalog-categories-link::before {
  background-image: url("/images/catalog-button-camera.svg");
}

.catalog-categories-item:nth-child(4)
.catalog-categories-link::before {
  background-image: url("/images/catalog-button-bracelets.svg");
}

.catalog-categories-item:nth-child(5)
.catalog-categories-link::before {
  background-image: url("/images/catalog-button-clock.svg");
}

.catalog-categories-item:nth-child(6)
.catalog-categories-link::before {
  background-image: url("/images/catalog-button-copters.svg");
}

.catalog-categories-link:hover::before {
  background-color:#FFC700;
}

.catalog-categories-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-categories-link:active {
  opacity: 0.3;
}

/* секция услуг */

.services {
  position: relative;
  background-color: #F0F0F0;
  z-index: 1;
}

.services-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: -102px;
}

.services-menu-container {
  width: 287px;
  position: relative;
}

.services-menu-list {
  padding: 64px 0;
}

.button-services {
  width: 160px;
  margin-bottom: 35px;
}

.button-services-current {
  width: 280px;
  color: #FFE17F;
  background-color: #000000;
  padding: 9px 120px 11px 20px;
}

.button-services-current:hover,
.button-services-current:active {
  padding-left: 60px;
  color: #FFE17F;
  background-color: #000000;
}
.button-services-current:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.services-menu-container::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services-description-container {
  position: relative;
  width: 873px;
}

.services-description-delivery-item::before {
  position: absolute;
  content: "";
  right: 0;
  top: 77px;
  width: 136px;
  height: 164px;
  background-image: url("/images/delivery.svg");
}

.services-description-warranty-item {
  position: absolute;
  content: "";
  right: 0;
  top: 62px;
  width: 171px;
  height: 195px;
  background-image: url("/images/warranty.svg");
}

.services-description-credit-item {
  position: absolute;
  content: "";
  right: 0;
  top: 65px;
  width: 156px;
  height: 188px;
  background-image: url("/images/credit.svg");
}

.services-description-list {
  margin: 0;
  padding-top: 72px;
  padding-left: 116px;
}

.services-description-item {
  display: none;
}

.services-description-title {
  font-family: 'Raleway';
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 34px 0;
}

.services-description-title-comment {
  max-width: 480px;
}

.services-description-item-current {
  display: block;
}

.services-menu-item-current {
  display: block;
}

/* секция заказа доставки */

.booking {
  max-width: 1160px;
  margin: 70px auto;
}

.booking-button {
  position: relative;
  display: block;
  max-width: 1160px;
  text-align: center;
  padding: 40px 125px;
  background-color: #F0F0F0;
  letter-spacing: 0.2em;
}

.booking-button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 125px;
  height: 100%;
  background-color: #FFE17F;
  background-image: url(/images/delivery-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.booking-button::after {
  position: absolute;
  display: block;
  content: "i";
  text-transform: none;
  text-align: center;
  font-family: 'Rubik';
  right: 40px;
  top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.3);
}

.booking-button:hover::before {
  background-color: #FFC700;
}

.booking-button:hover::after {
  color: #000000;
}

.booking-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.booking-button:active {
  opacity: 0.3;
}

/* секция информации */

.information {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.information-title {
  font-family: 'Raleway';
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
}

.information-subtitle {
  font-size: 24px;
  margin: 30px 0 15px 0;
}

.information-comment {
  margin: 30px 0;
}

.working-hours {
  margin: 15px 0;
}

.information-button {
  display: block;
  font-family: 'Raleway';
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  margin: 30px 0;
}

.about-us {
  padding-top: 47px;
  position: relative;
}

.about-us-list {
  font-weight: 700;
  line-height: 20px;
  padding-left: 34px;
}

.about-us-item {
  position: relative;
  margin-bottom: 19px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  left: -34px;
  top: 25%;
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
}

.contacts {
  padding-top: 47px;
  position: relative;
}

.about-us::before,
.contacts::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

/* основное содержимое catalog */
/* секция заголовка каталога */

.inner-header {
  max-width: 1160px;
  margin: 0 auto 34px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  content: "";
  opacity: 0.2;
  top: 35%;
  left: -16px;
  width: 4px;
  height: 7px;
  background-image: url("/images/graphics/breadcrumbs-arrow.svg");
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.background-container {
  background-color: #F0F0F0;
}

.position-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

/* секция фильтров */

.filter {
  padding: 0 60px;
}

.filter-products {
  width: 320px;
}

.filter-products-title,
.sorting-container-title {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 25px;
}

.filter-products-title {
  padding-left: 60px;
  margin-bottom: 60px;
}

.filter-container {
  width: 200px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.filter-products-group {
  position: relative;
}

.filter-products-group::before {
  position: absolute;
  content: "";
  top: -52px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.filter-products-button {
  width: 210px;
  margin-top: 5px;
  z-index: 1;
}

.range-scale {
  display: flex;
  position: relative;
  width: 200px;
  z-index: 1;
}

.range-scale::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #DCDCDC;
  z-index: -1;
}

.range-scale::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 119px;
  height: 2px;
  background-color: #000000;
  z-index: -1;
}

.range-scale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-scale-container-from {
  transform: translateX(-10px);
}

.range-scale-container-to {
  transform: translateX(50px);
}

.range-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle::before {
  position: absolute;
  content: "";
  top: -6px;
  left: -6px;
  width: 22px;
  height: 22px;
  border: 2px solid #AF4FFF;
  opacity: 0;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.range-toggle:focus {
  outline: none;
}

.range-toggle:focus-visible::before {
  opacity: 1;
}

.range-toggle:active {
  background: #000000;
}

.range-scale-input {
  border: none;
  background-color: transparent;
}

.range-scale-input-from {
  width: 30px;
}

.range-scale-input-to {
  width: 50px;
}

.filter-products-item {
  position: relative;
}

.filter-products-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  padding-left: 36px;
  cursor: pointer;
}

.control:hover .control-mark-radio,
.control:hover .control-mark-checkbox,
.control:hover .control-text {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus-visible + .control-mark-checkbox,
.control-input[type="radio"]:focus-visible + .control-mark-radio {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.control:active .control-mark-radio,
.control:active .control-mark-checkbox,
.control:active .control-text {
  opacity: 0.3;
}

.control-mark-checkbox {
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
}

.control-mark-checkbox::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  background-image: url("/images/graphics/checkbox-check.svg");
}

.control-mark-radio {
  position: absolute;
  left: 0;
  top: 3px;
  width: 24px;
  height: 24px;
}

.control-mark-radio::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

/* секция товаров каталога */

.content-catalog {
  width: 840px;
}

.background-cards-container {
  background-color: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.product-content-container {
  display: flex;
  justify-content: space-between;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 206px;
}

.sorting-container-title {
  padding-left: 40px;
}

.select-control {
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 30px;
  min-width: 141px;
  height: 30px;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("/images/graphics/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.select-control:active {
  opacity: 0.3;
}

.sorting-button-container {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.sorting-button {
  position: relative;
  width: 30px;
  height: 30px;
}

.sorting-button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("/images/graphics/sort-up-buttons.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.sorting-button:nth-child(1) {
  transform: rotate(180deg);
}

.sorting-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
}

.product-card-link {
  position: relative;
}

.product-card-image-container {
  position: relative;
  width: 360px;
  height: 380px;
}

.product-card-image-container::before {
  position: absolute;
  content: "Подробнее";
  top: 50%;
  left: 20%;
  width: 220px;
  height: 8px;
  font-family: 'Raleway', sans-serif;
  line-height: 8px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFE17F;
  z-index: 3;
  opacity: 0;
}

.product-card-image-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  opacity: 0;
  z-index: 2;
}

.new {
  position: relative;
}

.new::before {
  position: absolute;
  content: "new";
  font-family: 'Raleway';
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  right: 27px;
  top: 27px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  z-index: 1;
}

.product-card-link:hover .product-card-image-container::before,
.product-card-link:hover .product-card-image-container::after {
  opacity: 1;
}

.product-card-link:hover .product-card-title {
  opacity: 0.6;
}

.product-card-link:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.product-card-link:active .product-card-image-container::before {
  background-color: #FFC700;
}

.product-card-link:active .product-content-container  {
  opacity: 0.3;
}






.product-card-link.new:hover .product-content-container {
  opacity: 0.6;
}


.product-card-container {
  position: relative;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
  width: 760px;
  background-color: #EBEBEB;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  display: block;
  width: 78px;
  padding: 25px;
  font-family: 'Raleway';
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-current {
  opacity: 0.3;
  cursor: default;
}

.pagination-button:hover:not(.pagination-link-current) {
 background-color: #DCDCDC;
}

.pagination-button:focus {
  outline: none;
}

.pagination-button:focus-visible:not(.pagination-link-current) {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-button:active:not(.pagination-link-current) {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.pagination-link-item {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  align-self: center;
  color: rgba(68, 68, 68, 0.3);
  font-size: 16px;
}

.pagination-link-item-current {
  color: rgba(68, 68, 68, 0.6);
}

.pagination-link-item-current,
.pagination-link-item-unwrap {
  cursor: default;
}

.pagination-link-item:hover:not(.pagination-link-item-current, .pagination-link-item-unwrap) {
  color: rgba(68, 68, 68, 1);
}

.pagination-link-item:focus-visible {
  outline: 2px solid #AF4FFF;
}

.pagination-link-item-current:focus {
  outline: none;
}

.pagination-link-item:focus-visible::before {
  opacity: 1;
}

.pagination-link-item:active {
  opacity: 0.1;
}

.loading-button {
  width: 760px;
  margin-top: 44px;
  padding: 18px 0 18px 0;
  border: 3px solid #E5E5E5;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
}

.loading-button:hover {
  border-color: #000000;
}

.loading-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.loading-button:active {
  opacity: 0.3;
}

/* блок подписки */

.subscription {
  max-width: 1160px;
  margin: 0 auto;
}

.subscription-title {
  display: block;
  width: 348px;
  font-family: 'Raleway';
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.subscription-comment {
  display: block;
  width: 560px;
  margin: 10px 0;
}

.subscription-description-container {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  margin-bottom: 144px;
}

.subscription-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  padding-bottom: 56px;
}

.subscription-form {
  display: flex;
}

.subscription-free {
  position: relative;
}

.subscription-free::before {
  position: absolute;
  content: "";
  left: -30px;
  top: 25%;
  width: 16px;
  height: 16px;
  background-image: url("/images/graphics/subscription-free.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-field {
  border: none;
  border-bottom: solid 3px #C4C4C4;
  background-color: transparent;
  width: 557px;
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 30px;
  padding-left: 16px;
}

.input-field:focus {
  outline: none;
  background-color: #DCDCDC;
}

.input-field::placeholder {
  color: rgba(68,68,68,0.5);
}

.input-error {
  outline: 2px solid #FF3D3D;
}

.input-field-error {
  border-bottom: solid 3px #FF3D3D;
  outline: none;
}

.subscription-form-button {
  width: 253px;
  border: 3px solid #C4C4C4;
  font-size: 18px;
  letter-spacing: 0.2em;
  padding: 18px 39px;
}

.subscription-form-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}

.subscription-form-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.subscription-form-button:active {
  color: rgba(250, 250, 250, 0.3);
  background-color: #000000;
  border-color: #000000;
}

/* подвал сайта */

.page-footer {
  background-color: #444444;
  display: flex;
  justify-content: space-between;
}

.left-container {
  position: relative;
  margin-left: 140px;
  width: 239px;
}

.left-container::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 77px;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.center-container {
  width: 460px;
}

.right-container {
  margin-right: 140px;
  width: 175px;
}

.page-footer-information {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 35px 0 100px 0;
}

.page-footer-list {
  font-family: 'Raleway';
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin: 137px 0 62px 0;
  padding: 0;
}

.page-footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 62px 0 62px
}

.button-social {
  position: relative;
  display: block;
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
}

.button-social::before {
  position: absolute;
  content: "";
  top: -4px;
  left: -4px;
  width: 44px;
  height: 44px;
  border: 2px solid #AF4FFF;
  opacity: 0;
}

.button-social::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.button-social-telegram::after {
  background-image: url("/images/telegram.svg");
}
.button-social-youtube::after {
  background-image: url("/images/youtube.svg");
}
.button-social-twitter::after {
  background-image: url("/images/twitter.svg");
}

.button-social:hover {
  background-color: #FFC700;
}

.button-social:focus {
  outline: none;
}

.button-social:focus-visible::before {
  opacity: 1;
}

.button-social:active {
  color:#444444;
}

.button-social:active::after {
  opacity: 0.6;
}

.page-footer-link {
  color: inherit;
  letter-spacing: 0.2em;
  padding: 5px 0;
}

.page-footer-link:hover {
  color: #FFC700;
  border-bottom: 2px solid#FFC700;
}

.page-footer-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
  padding: 0;
}

.page-footer-link:active {
  color: #FFC700;
  border-bottom: 2px solid#FFC700;
  opacity: 0.3;
}

.page-footer-link-logo:hover {
  opacity: 0.6;
}

.page-footer-link-logo:focus-visible,
.contacts-phone:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 4px;
}

.page-footer-link-logo:active,
.contacts-phone:active {
  opacity: 0.3;
}

.page-footer-logo {
  margin-top: 62px;
}

.contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border-bottom: 1px solid#FFFFFF;
}

.contacts-phone:hover {
  color: #FFC700;
  border-bottom: 1px solid#FFC700;
}

.contacts-container {
  margin: 140px 0 61px 0;
}

.website-container {
  margin: 63px 0 65px 60px;
}

.website-link {
  color:#FFC700;
}

.website-link:hover {
  color:#FFFFFF;
}

.website-link:focus-visible {
  outline: 1px solid #AF4FFF;
  outline-offset: 2px;
}

.website-link:active {
  opacity: 0.3;
}

/* поповер корзины */

.popover {
  display: none;
  position: absolute;
  top: 40px;
  right: -65px;
  z-index: 3;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
  min-height: 150px;
  color: #FFFFFF;
  background-color: #000000;
}

.popover::before {
  position: absolute;
  content: "";
  background-image: url("/images/graphics/pop-up-arrow.svg");
  width: 14px;
  height: 6px;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.page-navigation-item-basket:focus-within .popover {
  display: block;
}

.popover-list {
  display: flex;
  flex-direction: column;
}

.popover-item {
  display: grid;
  grid-template-columns: 39px 208px 10px;
  grid-template-rows: 10px 33px;
}

.popover-item + .popover-item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-product-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.popover-product-name {
  margin: 0;
  padding: 0;
  padding-left: 23px;
  font-size: 16px;
  line-height: 20px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.button-product-delete {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.popover-result {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1A1A1A;
}

.popover-open-button {
  width: 100%;
  margin-top: 20px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: #FFFFFF;
}

.product-delete-image {
  display: block;
}

/* модальное окно */

.modal-container {
  font-family: inherit;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 10px solid #000000;
}

.modal-delivery {
  width: 920px;
}

.modal-content-container {
  position: relative;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: -10px;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 42px;
  padding: 0;
  font-family: inherit;
  font-size: 50px;
  line-height: 50px;
}

.frame-text-input {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.text-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 14px;
}

.tooltip {
  position: absolute;
  margin: 0;
  margin-top: -2px;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.button-tooltip {
  width: 26px;
  height: 26px;
  font-size: 16px;
  color: #000000;
  border: none;
  border-radius: 25px;
  background-color: #FFE17F;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  background-color: #000000;
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 2;
}

.button-tooltip:focus-within {
  outline: none;
}

.button-tooltip:hover + .tooltip-text,
.button-tooltip:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  background-image: url("/images/graphics/pop-up-arrow.svg");
  width: 14px;
  height: 6px;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.input-comment {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-top: 4px;
}

.input-comment-error {
  color: #ff5757;
}

.control-modal-input {
  position: relative;
  z-index: 1;
  width: 360px;
  height: 60px;
  background: #F0F0F0;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.control-modal-input:hover {
  background: #DCDCDC;
}

.control-modal-input:focus-visible {
  outline: 2px solid #AF4FFF;
}

.control-modal-input:focus:not(:placeholder-shown) {
  outline: none;
  color: #000000;
}

.control-modal-input:disabled {
  opacity: 0.1;
}

.input-image-username {
  background-image: url("/images/graphics/man-icon-modal.svg");
}

.input-image-e-mail {
  background-image: url("/images/graphics/email-icon-modal.svg");
}

.control-modal-input-comment {
  width: 560px;
}

.input-number {
  padding: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  -moz-appearance: textfield;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number::placeholder {
 color: #000000;
}

.modal-form-container {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}

.frame-number-input {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.area-input {
  display: flex;
  margin-top: 10px;
}

.button-plus-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #F0F0F0;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #000000;
}

.button-plus-minus:hover {
  background-color: #EBEBEB;
  color: #888888;
  fill:#888888;
}

.button-plus-minus:focus-visible {
  outline: 2px solid #AF4FFF;
  z-index: 2;
}

.button-plus-minus:active {
  background-color: #F0F0F0;
  color: rgba(0, 0, 0, 0.3);
  fill:rgba(0, 0, 0, 0.3);
}

.button-line-modal {
  position: relative;
  width: 200px;
  padding: 10px 5px;
  letter-spacing: 0.2em;
  z-index: 1;
}

.button-line-modal::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 41%;
  bottom: 0%;
  height: 8px;
  background-color: #FFE17F;
  content: "";
  z-index: -1;
}

.button-line-modal:hover {
  background-color: #FFE17F;
}

.button-line-modal:focus-visible {
  outline: 2px solid #AF4FFF;
}

.button-line-modal:active,
.button-line-modal:active::before {
  background: #FFCC33;
}

.button-line-modal:disabled {
  opacity: 0.3;
}
